<!-- src/app/student-list/student-list.component.html -->
<h2>Customer List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of customers">
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.email }}</td>
    <td>
      <button [routerLink]="['/edit', student.id]">Edit</button>
      <button (click)="deleteCustomer(student.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<button [routerLink]="['/add']">Add Customer</button>

